input {
	width: 90%;
	margin: auto 0.5em;
}

@media all and (min-device-width: 400px) and (max-device-width: 800px) {
	input {
		max-width: 75%;
	}
}

@media all and (min-device-width: 800px) {
	input {
		max-width: 50%;
	}
}

input.error {
	color: #E81123;
}


.link-box-small {
	max-width: 400px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 35px;
}

a.search {
	text-decoration: none;
	font-size: 1.4em;
	display: block;
}
